@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Меню</p>



<a class="navbar-brand" asp-area="" asp-controller="WORK" asp-action="Index">начать работу</a>
<p> </p>
<a class="navbar-brand" asp-area="" asp-controller="FILE" asp-action="Index">файлы</a>
<p> </p>
<a class="navbar-brand" asp-area="" asp-controller="HISTORY" asp-action="Index">история</a>

<p> </p>

<a class="navbar-brand" asp-area="" asp-controller="DRIVER_DATA_BASE" asp-action="Index">водители</a>
<p> </p>

<a class="navbar-brand" asp-area="" asp-controller="HISTORY" asp-action="otchet">статистика</a>

